@import "./mediaQueries";
@import "./mixins";

#wrapper-carousel{
    position: relative;
    .owl-stage-outer{
        .owl-stage{
            .owl-item{
                position: relative;
                max-height: 700px;
                overflow: hidden;
                height: 0;
                  &.owl-item.active{
                      height: auto;
                    .overlay{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                        background-color: black;
                        opacity: 0.4;
                        z-index: 1;
                      }
                    img{
                        transform: scale(1.1, 1.1);
                        animation-name: largenImage;
                        animation-duration: 5s;
                      }

                      .hero-caption{
                        text-align: center;
                        color: white;
                        position: absolute;
                        z-index: 100;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        animation-name: moveCaption;
                        animation-duration: 2s;
                        .carousel-sub-heading{
                            font-size: 1.2rem;
                            font-weight: 600; 
                            @include responsive (laptop){
                                font-size: 1rem;
                            }
                            @include responsive (phone-medium){
                                font-size: .8rem;
                            }
                            @include responsive (phone-small){
                                font-size: .7rem;
                            }           
                        }
                        .carousel-main-heading{
                            font-size: 3.5rem;
                            font-weight: 600;
                            @include responsive (laptop){
                                font-size: 3rem;
                            } 
                            @include responsive (phone-big){
                                font-size: 2rem;
                            }
                            @include responsive (phone-medium){
                                font-size: 1.6rem;
                            }  
                            @include responsive (phone-small){
                                font-size: 1.3rem;
                            }    
                        }
                    }
                  }
                
                
            }
        }    
    }

    .owl-nav{
        display: block;
        @include responsive (laptop){
            display: none;
        }
    }
    
    .nav-btn {
        position: absolute;
        top: 50%;
        padding: 10% 5%;
        transform: translateY(-50%);
        i{
            color: rgba( white, 0.5);
            font-size: 3rem;
        }
        &.prev-slide{
            left: 0;
        }
        &.next-slide{
            right: 0;
        }
    }

    .mobile-quote-container{
        .mobile-quote-button{
            position: relative;
            a{
                position: absolute;
                display: none;
                left: 50%;
                bottom: -100%;
                transform: translateX(-50%);
                bottom: 0;
                z-index: 10;
                @include responsive (laptop){
                    display: block;
                }

                i{
                    font-size: .8rem
                }
            }
            .btn{
                @include button($primary);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                &:focus{
                    background: $primary;
                    color: white;
                    box-shadow: unset;
                }
                &:hover{
                    background: $primary;
                    color: white;
                }
            }
            
        }
        .mobile-quote{
            .card{
                background-color: $secondary;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                input{
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-size: .9rem;
                      }
                      &::-moz-placeholder { /* Firefox 19+ */
                        font-size: .9rem;
                      }
                      &:-ms-input-placeholder { /* IE 10+ */
                        font-size: .9rem;
                      }
                      &:-moz-placeholder { /* Firefox 18- */
                        font-size: .9rem;
                      }
                }
                .btn{
                    @include button ($primary);
                    &:hover{
                        border: 1px solid transparent;
                    }
                    &:focus{
                        border: 1px solid transparent;
                    }
                    i{
                        font-size: .8rem
                    }
                }
            }
        }
    }
    
}




@keyframes largenImage{
    0%{
        transform: scale(1 , 1);
    }
    
    100%{
        transform: scale(1.1, 1.1);
    }
}

@keyframes moveCaption{
    0%{
        opacity: 0;
        top: 30%;
        left: 50%;
    }
    100%{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
}