@import "./button";
@import "./mediaQueries";


#wrapper-navbar{
    
    z-index: 50000;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    #main-nav{
        #main-menu{
            margin-left: auto;
            margin-right: 7%;
            @include responsive (desktop){
                margin-right: 3%;
            }
        }
        .navbar-brand{
            width: 240px;
            min-width: 200px;
            @include responsive (desktop){
                width: 200px;
                min-width: 200px;
            }
            @include responsive (phone-medium){
                width: 100px; 
            }
            .site-logo{
                height: 50px;
                @include responsive (desktop){
                   height: 45px;
                }
                @include responsive (phone-medium){
                    height: 30px;
                }
            }
        }
        ul{
            li{
                a{
                    color: $secondary;
                    font-weight: 600;
                    font-size: 1rem;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    padding-left: 15px;
                    padding-right: 15px;
                    transition: color .1s ease-in;
                    @include responsive (desktop){
                        font-size: .9rem;
                        padding-left: 12px;
                        padding-right: 12px;
                     }
                    &:hover{
                        color: $primary;
                    }
                }
                &.current_page_item{
                    a{
                        color: $primary;
                    }
                }
                .dropdown-menu{
                    border: none;
                    padding: 0;
                    margin: 0;
                    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
                    li{
                        :hover{
                            background: none;
                        }
                    }
                    a{
                        padding: 15px 25px;
                        @include responsive (desktop){
                            padding: 12px 20px;
                         }
                    }
                }
            }
        }
        .nav-button{
            .btn-theme{
                padding: 10px 15px;
                @include responsive (desktop){
                    padding: 7px 10px;
                    font-size: .9rem;
                 }
            }
        }
    }
}
